<%- include('includes/nav.ejs')%>
<div style="background: currentColor;">
    <div class="container">
        <div class="form-group">
            <label for="orderId">Order Id:</label>
            <p class="form-control" id="orderId"><%= responseData.orderId %></p>
        </div>
    </div>
</div>

<%- include('includes/footer.ejs')%>